.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 120px; /* ボタン余白 */
  max-width: 360px; /* スマホ横幅 */
  margin: 0 auto; /* 中央寄せ */
}

.title {
  margin: 20px 0;
  line-height: 1.15;
  font-size: 2rem;
  text-align: center;
}

.wrapper {
  width: 100%; /* 360px */
  max-height: calc(100vh - 200px); /* タイトル60px + ボタン120px + 余白20px */
  overflow-y: auto; /* スクロール可能 */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.countWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.countDisplay {
  flex: 1; /* 中央寄せでスペースを均等に */
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.speakerButton {
  padding: 8px;
  margin-right:8px;
  font-size: 1.5rem;
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.speakerButton:hover {
  background-color: #f5f5f5;
  transform: scale(1.1);
}

.speakerButton:focus {
  outline: 2px solid #333;
  outline-offset: 2px;
}

@media (max-width: 480px) {
  .title {
    font-size: 1.8rem;
  }

  .wrapper {
    padding: 8px;
    margin: 20px 0;
    max-height: calc(100vh - 180px); /* スマホで余白調整 */
  }

  .countWrapper {
    padding: 0px;
  }

  .countDisplay {
    font-size: 2rem;
  }

  .speakerButton {
    padding: 6px;
    font-size: 1.2rem;
  }
}