.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 0px; /* ボタン余白 */
  max-width: 360px; /* スマホ横幅 */
  margin: 0 auto; /* 中央寄せ */
}

.title {
  margin: 20px 0;
  line-height: 1.15;
  font-size: 1.8rem;
  text-align: center;
}

.wrapper {
  width: 100%; /* 360px */
  /*max-height: calc(100vh - 340px);  タイトル60px + ボタン120px + 余白20px */
  max-height: calc(100vh - 10px); /* スマホで余白調整 */
  /*overflow-y: auto;  スクロール可能 */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.countWrapper {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}

.countDisplay {
  font-size: 3rem;
  letter-spacing: 0.6em;
  text-indent: 0.7em;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.speakerArea {
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.speakerButton {
  padding: 6px;
  margin-left:8px;
  font-size: 1.2rem;
  background-color: #ffffff;
  color: #333;
  border: 0px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.speakerButton:hover {
  background-color: #f5f5f5;
  transform: scale(1.1);
}

.speakerButton:focus {
  outline: 2px solid #333;
  outline-offset: 2px;
}

.resetArea {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.resetButton {
  padding: 6px;
  margin-right:8px;
  font-size: 1.2rem;
  background-color: #ffffff;
  color: #333;
  border: 0px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.resetButton:hover {
  background-color: #f5f5f5;
  transform: scale(1.1);
}

.resetButton:focus {
  outline: 2px solid #333;
  outline-offset: 2px;
}