.circleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 100px; /* ボタン分の余白 */
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #ff6347;
  border-radius: 50%;
}

.tenGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #4682b4;
  border-radius: 8px;
}

.circleTen {
  font-size: 12px;
  color: white;
  font-weight: bold;
}

.hundredGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #32cd32;
  border-radius: 10px;
}

.circleHundred {
  font-size: 14px;
  color: white;
  font-weight: bold;
}