.circleContainer {
  margin-top: 30px;
  margin-bottom: 20px; /* ボタン分の余白 */
}

.columnsContainer {
  display: flex;
  justify-content: center;
}

.column {
  position: relative;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end;
  align-items: center;
  min-width: 50px;
  height: calc(100vh - 380px);
  overflow-y: auto; /* スクロール対応 */
  padding-bottom: 8px;
}

.objects {
  display: flex;
  flex-direction: column-reverse; /* 最新のオブジェクトを上部に */
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.oneGroup,
.tenGroup, 
.hundredGroup,
.thousandGroup,
.tenThousandGroup,
.hundredThousandGroup
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 8px;
}

.circleOne,
.circleTen,
.circleHundred,
.circleThousand,
.circleTenThousand,
.circleHundredThousand
{
  font-size: 10px;
  color: white;
  font-weight: bold;
}

.plateOne,
.plateTen,
.plateHundred,
.plateThousand,
.plateTenThousand,
.plateHundredThousand
{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 5px;
}

.oneGroup{
  background-color: #74EA84;
}

.plateOne{
  background-color: #74EA84;
}

.tenGroup {
  background-color: #5EC06C;
}

.plateTen {
  background-color: #5EC06C;
}

.hundredGroup {
  background-color: #54AC61;
}

.plateHundred {
  background-color: #54AC61;
}

.thousandGroup {
  background-color: #4A9755;
}

.plateThousand {
  background-color: #4A9755;
}

.tenThousandGroup {
  background-color: #3b7844;
}

.plateTenThousand {
  background-color: #3b7844;
}
.circleTenThousand
{
  font-size: 9px;
}

.hundredThousandGroup {
  background-color: #2c5a33;
}

.plateHundredThousand {
  background-color: #2c5a33;
}
.circleHundredThousand
{
  font-size: 8px;
}
